
.news-stand {
    padding: 20px 0;
}

.news-tabs {
    display: flex;
    background-color: var(--color-background);
    border: 1px solid var(--color-border);
    border-bottom: none;
    color: var(--color-text-muted);
}

.tab {
    padding: 10px 15px;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);
    cursor: pointer;
    /* 버튼 기본 속성 제거 */
    border: none;
    background: none;
    color: inherit;
    outline: none;
    box-shadow: none;
}

.tab.active {
    background-color: #7890E7;
    color: #FFFFFF;
    font-weight: 600;
}