
.news-list {
    border: 1px solid var(--color-border);
    padding: 20px;
    background-color: #FFFFFF;
}

.news-item {
    margin-bottom: 20px;
}

.news-meta {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
    height: 25px;
}

.news-source {
    height: 20px;
    width: 80px;
}

.news-date {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-regular);
    color: var(--color-text-second);
    width: 130px;
}

.subscribe-button {
    padding: 5px 10px;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-regular);
    color: var(--color-text-muted);
    background-color: var(--color-background);
    border-radius: 50px;
    cursor: pointer;
    border: 1px solid var(--color-border);
}

.news-content {
    display: flex;
    gap: 20px;
}

.news-thumbnail {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.news-image {
    width: 320px;
    height: 200px;
    object-fit: cover; /* 화면 채움 */
}

.news-description {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-regular);
    color: var(--color-text-first);

    &:hover {
        text-decoration: underline;
        text-decoration-color: #4B5966;
    }
}

.news-headlines {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.headline {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-regular);
    margin-bottom: 16px;
    color: #4B5966;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
        text-decoration-color: #4B5966;
    }
}

.news-disclaimer {
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);
    color: var(--color-text-muted);
    margin-top: 10px;
}