
.top-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

.top-menu-media {
    display: flex;
    gap: 25px;
    color: var(--color-text-muted);
    font-weight: var(--font-weight-regular);
}

.media-total, .media-my {
    font-size: var(--font-size-large);
    cursor: pointer;
    border: none;
    background: none;
    color: inherit;
    outline: none;
    box-shadow: none;

    &:hover, &.active {
        font-weight: var(--font-weight-bold);
        color: var(--color-text-first);
    }
}

.top-menu-view {
    display: flex;
    gap: 10px;
}