:root {
    --font-weight-regular: 400;
    --font-weight-bold: 700;

    --font-size-small: 12px;
    --font-size-medium: 14px;
    --font-size-large: 16px;
    --font-size-xlarge: 24px;

    --color-text-first: #14212B;
    --color-text-second: #5F6E76;
    --color-text-muted: #879298;
    --color-border: #D2DAE0;
    --color-background: #F5F7F9;
}

@font-face {
    font-family: 'Pretendard-Variable';
    src: url('../font/PretendardVariable.woff2') format('woff2');
    font-weight: var(--font-weight-regular) var(--font-weight-bold);
    font-style: normal;
}

body {
    font-family: 'Pretendard-Variable', 'Noto Sans KR', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    max-width: 1400px;
    margin: auto;
    padding: 20px;
    justify-content: center;
}

.left-btn, .right-btn {
    /* 버튼 기본 속성 제거 */
    border: none;
    background: none;
    color: inherit;
    outline: none;
    box-shadow: none;

    /* 버튼 높이 조정 */
    align-self: flex-end;
    padding-bottom: 170px;
}

.left-btn {
    padding-right: 25px;
}

.right-btn {
    padding-left: 25px;
}

.left-arrow, .right-arrow {
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header-logo {
    display: flex;
    gap: 8px;
}

/* p태그 margin 기본값 초기화 */
.header-logo p {
    margin: 0;
    padding: 0;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-xlarge);
    color: var(--color-text-first);
}

.header-date {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-regular);
    color: var(--color-text-second);
}

.top-news {
    display: flex;
    padding: 10px 0;
    gap: 10px;
}

.top-news-item {
    font-size: var(--font-size-medium);
    border: 1px solid var(--color-border);
    background-color: var(--color-background);
    position: relative;
    height: 40px;
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 10px;
}

.rolling {
    position: absolute;
    width: 100%;
    transition: top 0.5s ease;
    box-sizing: border-box;
    /* ul 기본 스타일 제거 */
    list-style: none;
    padding: 0;
    margin: 0;
}

.rolling li {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    gap: 10px;
}

.rolling .company {
    font-weight: var(--font-weight-bold);
    color: var(--color-text-first);
    white-space: nowrap;
}

.rolling > .description, a {
    color: var(--color-text-second);
    font-weight: var(--font-weight-regular);
    display: block;
    display: -webkit-box;
    text-decoration: none;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-right: 15px;
}

.rolling .description:hover {
    cursor: pointer;
    text-decoration: underline;
}

.top-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

.top-menu-media {
    display: flex;
    gap: 25px;
    color: var(--color-text-muted);
    font-weight: var(--font-weight-regular);
}

.media-total:hover, .media-my:hover {
    cursor: pointer;
    font-weight: var(--font-weight-bold);
    color: var(--color-text-first);
}

.top-menu-view {
    display: flex;
    gap: 10px;
}

.news-stand {
    padding: 20px 0;
}

.news-tabs {
    display: flex;
    background-color: var(--color-background);
    border: 1px solid var(--color-border);
    border-bottom: none;
    color: var(--color-text-muted);
}

.tab {
    padding: 10px 15px;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);
    cursor: pointer;
    /* 버튼 기본 속성 제거 */
    border: none;
    background: none;
    color: inherit;
    outline: none;
    box-shadow: none;
}

.tab.active {
    background-color: #7890E7;
    color: #FFFFFF;
    font-weight: 600;
}

.news-list {
    border: 1px solid var(--color-border);
    padding: 20px;
    background-color: #FFFFFF;
}

.news-item {
    margin-bottom: 20px;
}

.news-meta {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 20px;
}

.news-date {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-regular);
    color: var(--color-text-second);
}

.subscribe-button {
    padding: 5px 10px;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-regular);
    color: var(--color-text-muted);
    background-color: var(--color-background);
    border-radius: 50px;
    cursor: pointer;
    border: 1px solid var(--color-border);
}

.news-content {
    display: flex;
    gap: 20px;
}

.news-thumbnail {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.news-image {
    width: 320px;
    height: 200px;
    object-fit: cover; /* 화면 채움 */
}

.news-description {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-regular);
    color: var(--color-text-first);
}

.news-headlines {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.headline {
    margin-bottom: 16px;
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-regular);
    color: #4B5966;
    cursor: pointer;
}

.news-disclaimer {
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);
    color: var(--color-text-muted);
    margin-top: 10px;
}