
.headline {
    display: flex;
    padding: 10px 0;
    gap: 10px;
}

.headline-item {
    font-size: var(--font-size-medium);
    border: 1px solid var(--color-border);
    background-color: var(--color-background);
    position: relative;
    height: 40px;
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 10px;
}

.rolling {
    position: absolute;
    width: 100%;
    top: 0;
    box-sizing: border-box;
    /* ul 기본 스타일 제거 */
    list-style: none;
    padding: 0;
    margin: 0;
    transition: top 0.5s ease;
}

.rolling li {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    gap: 10px;
}

.rolling .company {
    font-weight: var(--font-weight-bold);
    color: var(--color-text-first);
    white-space: nowrap;
}

.rolling > .description, a {
    color: var(--color-text-second);
    font-weight: var(--font-weight-regular);
    text-decoration: none;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-right: 15px;
}

.rolling .description:hover {
    cursor: pointer;
    text-decoration: underline;
}